<!--Muestra la página de inicio con enlaces para iniciar sesión y registrarse.-->

{% extends 'base.html' %}

{% block content %}


<main class="container py-5"> 

    <section class="card card-body">

        <h1 class="display-1 text-center">Django APP</h1>
    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, similique. Tempora id cum atque fugiat illo natus assumenda dolorum delectus, porro laborum. Minima quod sapiente fugiat magni. Repudiandae libero itaque, praesentium, ut molestiae voluptas quam corporis odit, suscipit reiciendis velit. Fugit nemo quos molestias, esse tenetur aut ex laborum id in laboriosam dolore porro magni aperiam ut aspernatur assumenda sunt ullam consequatur officia vero sed error dicta sequi. Blanditiis eligendi labore, sequi temporibus, adipisci quos ipsam excepturi voluptas, incidunt perferendis voluptatem. Quo quisquam incidunt laboriosam unde aliquid nostrum at inventore quibusdam soluta et deserunt necessitatibus porro, facilis neque. Quas, repellat!</p>
    
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Signin</a>

            <a class="btn btn-dark" href="/signup">Signup</a>


        </div>
    
    
    </section>



</main>



{% endblock %}


